apiVersion: apps/v1
kind: Deployment
metadata:
  name: mavenwebapplication-deployment
  namespace: test
spec:
  revisionHistoryLimit: 10
  replicas: 4
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      application: mavenwebapplication
  template:
    metadata:
      name: mavenwebapp-pod
      labels:
        application: mavenwebapplication
    spec:
      containers:
        - name: mavenwebapplication-container
          image: testautomationdevops/maven-web-application:2
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: mavenwebapplication-service
  namespace: test
spec:
  selector:
    application: mavenwebapplication
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
